.barra-ferramenta {
    align-items: end;
}

.floating-button {
    color: white;
    position: fixed;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    z-index: 1000;
    border-radius: 50%;
    inline-size: 60px;
    block-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}